<a href="https://colab.research.google.com/github/umanari145/python_ai/blob/main/zerokara_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# お弁当の需要予測
# 【ゼロから始めるデータ分析】 ビジネスケースで学ぶPythonデータサイエンス入門



import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

train = pd.read_csv('/content/drive/My Drive/bento_train.csv')
train.head() # 逆はtrain.tail() head(5)のようにするとトップから5行

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [3]:
# 行数と列数を取得
train.shape

(207, 12)